@font-face {
	font-family: "Cambria";
	src: local("Cambria"), url("~@/assets/fonts/Cambria.ttf") format("truetype");
}

@font-face {
	font-family: "Cambria-Bold";
	src: local("Cambria-Bold"), url("~@/assets/fonts/Cambria-Bold.ttf") format("truetype");
}
